<div class="">
    <div class="logo"></div>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
          <div class="logo mt-3 mb-5">
            <img src="../../assets/logo.png" height="50" alt="logo">
          </div>
            <h4 class="fs-6 ms-3">Main Menu</h4>
          <ul class="list">
            <li routerLinkActive="active"><mat-icon>home</mat-icon><a routerLink="/user-widget/dashboard" >Dashboard</a></li>
            <li routerLinkActive="active"><mat-icon>person</mat-icon><a routerLink="/user-widget/users">Users</a></li>
          </ul>
        </mat-drawer>

        <div class="example-sidenav-content">
            <mat-toolbar class="toolbar" *ngIf="!showToolbar">
                <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
                 <mat-icon> notes</mat-icon>
               </button>
               <span class="example-spacer"></span>
               <div class="currentUser" *ngIf="currentUserDetails">
                <div class="img">
                  <img width="50" src="{{currentUserDetails.image}}" alt="">
                </div>
                  <div class="content">
                    <h6 class="userName">{{currentUserDetails.firstName}}<button mat-flat-button [matMenuTriggerFor]="menu">
                      <mat-icon>arrow_drop_down</mat-icon>
                    </button></h6>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Signout</span>
                      </button>
                    </mat-menu>
                    <p class="role">{{currentUserDetails.role}}</p>
                  </div>
               </div>
             </mat-toolbar>

             <mat-toolbar *ngIf="showToolbar" class="toolbar">
              <img src="../../assets/logo.png" height="50" alt="logo">
              <span class="example-spacer"></span>
              <button mat-flat-button [matMenuTriggerFor]="menu">
                <mat-icon>notes</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLinkActive="active" routerLink="/user-widget/dashboard">Dashboard</button>
                  <button mat-menu-item routerLinkActive="active" routerLink="/user-widget/users">Users</button>
              </mat-menu>
             </mat-toolbar>

             <div class="container">
              <router-outlet></router-outlet>
             </div>

        </div>
      </mat-drawer-container>

</div>

