.example-spacer {
  flex: 1 1 auto;
}

.line{
  color: rgb(151, 151, 151);
}

.home{
  color: rgb(152, 0, 223);
}
.overflow-wrap-example {
  width: 200px;
  overflow: hidden;
  white-space: normal;
}

.active{
  background-color: rgb(152, 0, 223);
  color: white;
}
