<app-filter-sort (emitChildData)="getfilteredData($event)" (searchedDataEmitter)="getSearchTerm($event)"></app-filter-sort>

<div class="card-list">
  <mat-card class="user-card" *ngFor="let user of obs | async | search : searchTerm; let i = index">
    <mat-card-content class="user-card-content">
      <div class="user-image-container">
        <!-- User Image -->
        <img src="https://cdn-icons-png.flaticon.com/128/64/64572.png" width="50" alt="User Image">
      </div>
      <div class="user-details">
        <!-- User Name -->
        <h2>{{user.firstName + " " + user.lastName}}</h2>
        <!-- User Email -->
        <p>{{user.email}}</p>
        <!-- User Status -->
        <p class="status">
          <span class="status-dot"
          [ngClass]="{'active': user.status === 'Active', 'inactive': user.status === 'Inactive'}"></span>{{
            user.status }}
        </p>
      </div>
      <div class="actions">

        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/user-widget/users/add-user']" [queryParams]="{'id':user.id}">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteUser(i, user.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-paginator [pageSizeOptions]="[6, 10, 25, 100]" class="paginator"></mat-paginator>



