.card-list{
  display: flex;
  padding-left: 20px;
  gap: 1em;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
}
.user-card {
  width: 21em;
  display: flex;
  background-color: rgb(240, 240, 240);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.user-card-content {
  display: flex;
  align-items: center;
  padding: 16px;
  flex-grow: 1;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}



.user-details {
  margin-left: 16px;
  flex: 1;
  max-width: 150px;
  overflow: hidden;
}

.user-details h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.user-details p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.actions {
  margin-left: 20px;
  margin-top: 0;
  align-self: flex-start;
  justify-content: flex-end;
}

.user-image-container img {
  width: 60px;
  border-radius: 50%;
  border-radius: 50%;
}



