.cards{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.user-cards{
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 600px) {
  .cards {
    justify-content: center;
  }
}

